In [7]:
import os
import pandas
import time
import csv
import json

with open("../Imperator/analyses/scythia_solo20-02-2023_15h48.json", encoding="utf-8") as source:

    source=json.load(source)
states_attributes={
    "capital":["capital","N/A","N/A"],
    "area":["area","N/A","N/A"],
    "country":["country","N/A","N/A"],
    "religion":["religion","N/A","N/A"],
    "culture":["culture","N/A","N/A"],
    "governor_policy":["governor_policy","N/A","N/A"],
    "state_loyalty":["state_loyalty","N/A","N/A"],
    "food_value":["food_value","N/A","N/A"],
    "max_food_value":["max_food_value","N/A","N/A"],
}

In [8]:
result=[]
currentobj=[]
for x in source["state"]["state_database"].keys():
    if 1 == 1 :
        result=[]
        for attr in states_attributes.keys():
            attr_value = ""
            if states_attributes[attr][0] in source["state"]["state_database"][x]:
                if states_attributes[attr][1] != "N/A" and states_attributes[attr][1] in source["state"]["state_database"][x][states_attributes[attr][0]]:
                    if states_attributes[attr][2] == "N/A" :
                        ################ niveau 2
                        attr_value = source["state"]["state_database"][x][states_attributes[attr][0]][states_attributes[attr][1]]
                    if states_attributes[attr][2] != "N/A" and states_attributes[attr][2] in source["state"]["state_database"][x][states_attributes[attr][0]][states_attributes[attr][1]]:
                        ################ niveau 3
                        if states_attributes[attr][2] in source["state"]["state_database"][x][states_attributes[attr][0]][states_attributes[attr][1]]:                            
                            attr_value = source["state"]["state_database"][x][states_attributes[attr][0]][states_attributes[attr][1]][states_attributes[attr][2]]
                        else: None
                    else: None
                else:
                    ########### niveau 1
                    attr_value = source["state"]["state_database"][x][states_attributes[attr][0]]

            else: None
            
            if 1==1:
                if "tech" in attr:
                    attr_value = round(source["state"]["state_database"][x]["technology"][attr]["level"] + source["state"]["state_database"][x]["technology"][attr]["progress"]/100,2)
                if attr == "ports" and "ports" in source["state"]["state_database"][x]:
                    attr_value = len(source["state"]["state_database"][x]["ports"])
                else: None
                    
                if "income" in attr:
                    attr_value = source["state"]["state_database"][x]["economy"][states_attributes[attr][1]][states_attributes[attr][2]]

                if "buildings" in attr:
                    attr_value = sum(source["state"]["state_database"][x]["buildings"])
                result.append(str(attr_value))
        currentobj.append(result)
#youhooooooo on a fini
output=pandas.DataFrame(currentobj, index=(x for x in source["state"]["state_database"].keys()))
output.columns = states_attributes.keys()
date = int(source["date"][:source["date"].find(".")])-753
output["year"]= date
output

,capital,area,country,religion,culture,governor_policy,state_loyalty,food_value,max_food_value,year
0,1,roma_area,112,0.98452,0.98142,encourage_trade,100,327.28379,1340,440
150994945,4433,kasi_area,460,1,0.7788,encourage_trade,99.83668,1100,1100,440
67108866,1033,contestania_meridionalis_area,1623,0.50943,0.1132,religious_conversion,44.21226,900,900,440
50331651,1423,celticia_maoioris_area,1650,0.75,0,acquisition_of_wealth,100,100,100,440
50331652,401,aetolia_area,1382,0.89847,0.72588,borderlands,100,879.275,900,440
...,...,...,...,...,...,...,...,...,...,...
50333101,,,,,,,,,,440
16778670,,,,,,,,,,440
50333103,,,,,,,,,,440
134219184,,,,,,,,,,440
134219185,4353,sauvira_area,1628,0.86577,0.83221,acquisition_of_wealth,99.08364,1110,1110,440